# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gideon
	email = gideonb234@gmail.com
[core]
	excludesfile = /Users/llama/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/llama/.stCommitMsg
